<sr-group-box boxTitle="{{'LIVETIMING_CONTROLS.TITLE' | translate}}">
  <div class="form-field">
    <label for="running_event">{{'LIVETIMING_CONTROLS.RUNNING_HEAT' | translate}}:</label>
    <input id="running_event" type="number" [(ngModel)]="currentHeat.heat">
  </div>
  <div class="form-field">
    <label for="running_heat">{{"LIVETIMING_CONTROLS.RUNNING_EVENT" | translate}}:</label>
    <input id="running_heat" type="number" [(ngModel)]="currentHeat.event">
  </div>
  <div class="form-field">
    <label for="running_heat_state">{{"LIVETIMING_CONTROLS.RUNNING_HEAT_STATE" | translate}}:</label>
    <select id="running_heat_state" [(ngModel)]="state">
      <option value="NOT_RUNNING">NOT_RUNNING</option>
      <option value="READY">READY</option>
      <option value="RUNNING">RUNNING</option>
    </select>
  </div>

  <br>

  <div class="live-timing-control">
    <b>Alge:</b>
    <button [disabled]="udpActive" (click)="startUdp()">Start</button>
    <button [disabled]="!udpActive || liveTimingActive" (click)="stopUdp()">Stop</button>
    <span class="status-box {{udpActive ? 'success' : 'error'}}">{{udpActive ? "RUNNING" : "STOPPED"}}</span>
  </div>

  <br>

  <div class="live-timing-control">
    <b>Live Timing:</b>
    <button [disabled]="!udpActive || liveTimingActive" (click)="startLiveTiming()">Start</button>
    <button [disabled]="!liveTimingActive" (click)="stopLiveTiming()">Stop</button>
    <span class="status-box {{liveTimingActive ? 'success' : 'error'}}">{{liveTimingActive ? "RUNNING" : "STOPPED"}}</span>
  </div>
</sr-group-box>

<sr-group-box boxTitle="Live Timing Settings">

  <b>UDP</b>

  <div class="form-field">
    <label for="udp_port">Port:</label>
    <input [disabled]="udpActive" id="udp_port" type="number" [(ngModel)]="udpPort">
  </div>

  <div class="form-field">
    <label for="udp_address">Address:</label>
    <input [disabled]="udpActive" id="udp_address" type="text" [(ngModel)]="udpAddress">
  </div>

  <hr>

  <b>SwimResults</b>

  <div class="form-field">
    <label for="sr_server">Server:</label>
    <input [disabled]="liveTimingActive" id="sr_server" type="text" [(ngModel)]="importConfig.apiUrl">
  </div>

  <div class="form-field">
    <label for="sr_password">Password:</label>
    <input [disabled]="liveTimingActive" id="sr_password" type="password" [(ngModel)]="importConfig.password">
  </div>
  <button [disabled]="liveTimingActive" class="btn-right" (click)="saveConfig()">Save</button>
</sr-group-box>

<sr-group-box boxTitle="Live Timing">
  <div class="live-status">
    <span>Event {{currentHeat.event}} - {{currentHeat.style}}</span>
    <span>Heat {{currentHeat.heat}}</span>
    <div>
      <span class="status-box {{getClassForState(state)}}">{{state}}</span>
      <span class="status-box">{{currentHeat.runningTime | algeTime}}</span>
    </div>
  </div>
  <table>
    <tr>
      <th>&nbsp;</th>
      <th>Name</th>
      <th>Team</th>
      <th>Meters</th>
      <th>Lap</th>
      @for (meter of getAvailableMeters(); track meter) {
        <th>Time {{meter}}m</th>
      }
    </tr>
    @for (competitor of getCompetitorsSorted(); track competitor) {
      <tr>
        <td>{{competitor.lane}}</td>
        <td>{{competitor.first_name + " " + competitor.last_name}}</td>
        <td>{{competitor.team}}</td>
        <td>{{competitor.lapM}}</td>
        <td>{{competitor.lap}}</td>
        @for (meter of getAvailableMeters(); track meter) {
          @if (competitor.splits.has(meter)) {
            <td>{{competitor.splits.get(meter)! | algeTime}}</td>
          } @else {
            <td></td>
          }
        }
      </tr>
    }
  </table>

  <br>

  <div class="connection-status">
    <span>ALGE:</span>
    <span class="status-box {{getClassForConnectionState(algeState)}}">{{algeState}}</span>
  </div>
  <div class="connection-status">
    <span>SwimResults:</span>
    <span class="status-box {{getClassForConnectionState(srState)}}">{{srState}}</span>
  </div>
</sr-group-box>

<div>
  <details>
    <summary>Log</summary>
    <ul>

      @for (message of messages; track message) {
        <li>{{message}}</li>
      }

    </ul>
  </details>
</div>

<router-outlet></router-outlet>
